.navbar {
  background-color: #111111;
  color: white;
}

.navbar.navbar-toggler {
  color: white;
}

.r-navitems {
  padding: 40px 0px;
}

.nav-link {
  color: white;
  font-weight: 600;
  margin-right: 20px;
}

.nav-link:hover {
  color: #ef5350;
}

.nav-link:active {
  color: #ef5350;
}

.r-hero-text {
  font-size: 4em;
  font-weight: 900;
  font-family: "Roboto Mono";
  margin-bottom: 35px;
}

.r-hero-text-other {
  font-size: 4em;
  font-weight: 900;
  font-family: "Roboto Mono";
}

.r-hero-text span {
  color: #ef5350;
}

.r-cta {
  padding: 50px 0px;
}

.button-cta {
  margin-top: 35px;
}

.r-red-back {
  background: rgba(239, 83, 80, 0.2);
}

.r-p40-top {
  padding-top: 40px;
  padding-bottom: 40px;
}

.r-p40-side {
  padding-left: 40px;
  padding-right: 40px;
}

.r-span {
  color: #ef5350;
}

.testo {
  background: rgba(239, 83, 80, 0.2);
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.r-blog-title {
  font-size: 1.5em;
  font-weight: bold;
}

.r-blog-link {
  color: white;
  cursor: default;
}

.r-blog-link:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.blog-thumbnail {
  margin-bottom: 20px;
}

.r-footer {
  padding: 40px 0px;
}

.r-footer-links {
  text-align: right;
}

.r-footer-links ul li {
  list-style-type: none;
}

.r-footer-links ul li a {
  color: white;
}

.r-feature-box {
  border: 1px solid #ef5350;
  padding: 40px 20px;
  margin-bottom: 10px;
}

.r-feature-box h4 {
  margin-top: 20px;
}

.r-founder img {
  margin-bottom: 20px;
}

.r-contact-social a {
  color: #ef5350;
}

.r-contact-social a i {
  width: 48px;
  height: 48px;
  font-size: 2.5em;
}

.space-small {
  width: 100%;
  display: block;
  height: 30px;
}

.r-contact-form {
  background: rgba(239, 83, 80, 0.2);
  border-radius: 25px;
  padding: 50px 30px;
}

.r-login-form {
  background: rgba(239, 83, 80, 0.2);
  border-radius: 25px;
  padding: 50px 30px;
}

.r-faq a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.r-faq a:hover,
.r-faq a:active {
  color: #ef5350;
}

.mylogo {
  content: url("../img/slice8.png");
  display: inline-block;
  height: 64px;
}

.dark-mode {
  background: white;
  color: #333333;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5 {
  color: black;
}
.dark-mode .mylogo {
  content: url("../img/slice9.png");
}

.table-dark {
  background-color: #111111;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .r-footer,
  .r-footer-links {
    text-align: center;
  }

  .r-event,
  .r-blog {
    padding: 20px 40px;
  }

  .r-hero-text,
  .r-hero-text-other {
    font-size: 3em;
  }
}

@media print {
  body {
    background: white;
    color: #333333;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #333333;
  }
  .report-buttons {
    display: none;
  }

  .mylogo {
    content: url("../img/slice9.png");
  }
}
