body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: white;
  background-color: #111111;
}

h1, h2, h3, h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

code {
  background: #444053;
  color: #EF5350;
  font-family: 'Roboto Mono' monospace;
  font-weight: bold;
  font-size: 1em;
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 10px;
}

.space {
  width: 100%;
  height: 50px;
  display: block;
}

.row {
  margin-bottom: 20px;
}

.r-btn,
a.r-btn,
button.r-btn {
  border-radius: 24px;
  border: 2px solid transparent;
  background: rgba(239, 83, 80, 0.25);
  color: #EF5350;
  padding: 10px 30px;
  font-size: 1em;
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.r-btn:hover {
  border: 2px solid #EF5350;
  text-decoration: none;
}

.r-btn:active {
  border: 2px solid transparent;
  outline: none;
}

.r-btn:focus {
  outline: none;
}

.r-btn i {
  padding-left: 10px;
}

.r-btn[disabled] {
  background: rgba(171, 60, 59, 0.25);
  color: rgba(239, 83, 80, 0.5);
}

.r-btn[disabled]:hover {
  border: 2px solid transparent;
}

.r-btn.r-circle {
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  padding: 0px !important;
}

.r-btn.r-circle i {
  padding: 0px;
}

.r-btn.r-success {
  background: rgba(63, 136, 197, 0.25);
  color: #3F88C5;
}

.r-btn.r-success:hover {
  border: 2px solid #3F88C5;
}

.r-btn.r-success:active {
  border: 2px solid transparent;
}

.r-btn.r-warning {
  background: rgba(244, 157, 55, 0.25);
  color: #F49D37;
}

.r-btn.r-warning:hover {
  border: 2px solid #F49D37;
}

.r-btn.r-warning:active {
  border: 2px solid transparent;
}

.r-btn.r-big {
  padding: 18px 40px;
  border-radius: 32px;
}

.r-btn.r-circle.r-big {
  height: 64px;
  width: 64px;
}

.r-btn.r-small {
  padding: 0px 20px;
  border-radius: 16px;
  height: 32px;
}

.r-btn.r-circle.r-small {
  height: 32px;
  width: 32px;
}

.single-icon {
  display: inline-block;
  padding: 10px;
}

.r-input {
  background: rgba(239, 83, 80, 0.25);
  height: 48px;
  color: #EF5350;
  border: none;
  border-bottom: 5px solid #EF5350;
  border-radius: 0px;
  display: inline-block;
  padding: 0 10px;
  min-width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

.r-input:focus {
  outline: none;
  border: 1px solid #EF5350;
  border-bottom: 5px solid #EF5350;
}

.r-input:hover {
  background: rgba(239, 83, 80, 0.2);
}

.r-input::-webkit-input-placeholder {
  color: rgba(239, 83, 80, 0.3);
  font-weight: normal;
}

.r-input:-ms-input-placeholder {
  color: rgba(239, 83, 80, 0.3);
  font-weight: normal;
}

.r-input::-ms-input-placeholder {
  color: rgba(239, 83, 80, 0.3);
  font-weight: normal;
}

.r-input::placeholder {
  color: rgba(239, 83, 80, 0.3);
  font-weight: normal;
}

.r-input.r-error {
  background: rgba(244, 157, 55, 0.25);
  color: #F49D37;
  border-bottom: 5px solid #F49D37;
}

.r-input.r-error::-webkit-input-placeholder {
  color: rgba(244, 157, 55, 0.3);
}

.r-input.r-error:-ms-input-placeholder {
  color: rgba(244, 157, 55, 0.3);
}

.r-input.r-error::-ms-input-placeholder {
  color: rgba(244, 157, 55, 0.3);
}

.r-input.r-error::placeholder {
  color: rgba(244, 157, 55, 0.3);
}

.r-input.r-error:focus {
  border: 1px solid #F49D37;
  border-bottom: 5px solid #F49D37;
}

.r-input.r-error:hover {
  background: rgba(244, 157, 55, 0.2);
}

.r-warning-label {
  color: #F49D37;
  font-size: 0.8em;
  padding-left: 10px;
}

.r-textarea {
  min-width: 100%;
  background: rgba(239, 83, 80, 0.25);
  color: #EF5350;
  font-weight: bold;
  border: 1px solid transparent;
  margin: 5px;
  padding: 10px;
}

.r-textarea::-webkit-input-placeholder {
  font-weight: normal;
  color: rgba(239, 83, 80, 0.3);
}

.r-textarea:-ms-input-placeholder {
  font-weight: normal;
  color: rgba(239, 83, 80, 0.3);
}

.r-textarea::-ms-input-placeholder {
  font-weight: normal;
  color: rgba(239, 83, 80, 0.3);
}

.r-textarea::placeholder {
  font-weight: normal;
  color: rgba(239, 83, 80, 0.3);
}

.r-textarea:hover {
  background: rgba(239, 83, 80, 0.2);
}

.r-textarea:focus {
  outline: none;
  border: 1px solid #EF5350;
}

.r-select {
  background: rgba(239, 83, 80, 0.25);
  padding: 0px 10px;
  margin: 0px 5px;
  height: 48px;
  border: 1px solid transparent;
  color: #EF5350;
  min-width: 100%;
}

.r-select option {
  background-color: #111111;
}

.r-select:focus {
  outline: none;
}
/*# sourceMappingURL=ronin.css.map */