$color-primary: #EF5350;
$color-background: #111111;
$color-success: #3F88C5;
$color-warning: #F49D37;
$color-alternative: #444053;
$color-text: white;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: $color-text;
    background-color: $color-background;
}

h1,h2,h3,h4 {
    color: $color-text;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

code {
    background: $color-alternative;
    color: $color-primary;
    font-family: 'Roboto Mono' monospace;
    font-weight: bold;
    font-size: 1em;
    padding: 0px 10px;
    margin: 0px 10px;
    border-radius: 10px;
}

.space {
    width: 100%;
    height: 50px;
    display: block;
}

.row {
    margin-bottom: 20px;
}

.r-btn,
a.r-btn,
button.r-btn {
    border-radius: 24px;
    border: 2px solid transparent;
    background: rgba(239, 83, 80, 0.25);
    color: $color-primary;
    padding: 10px 30px;
    font-size: 1em;
    outline: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.r-btn:hover {
    border: 2px solid $color-primary;
    text-decoration: none;
}

.r-btn:active {
    border: 2px solid transparent;
    outline: none;
}

.r-btn:focus {
    outline: none;
}

.r-btn i {
    padding-left: 10px;
}

.r-btn[disabled] {
    background: hsla(1, 49%, 45%, 0.25);
    color: rgba($color-primary, 0.5);
}

.r-btn[disabled]:hover{
    border: 2px solid transparent;
}

.r-btn.r-circle {
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    padding: 0px !important;
}

.r-btn.r-circle i {
    padding: 0px;
}

.r-btn.r-success {
    background: rgba(63, 136, 197, 0.25);
    color: $color-success;
}

.r-btn.r-success:hover {
    border: 2px solid $color-success;
}

.r-btn.r-success:active {
    border: 2px solid transparent;
}

.r-btn.r-warning {
    background: rgba(244, 157, 55, 0.25);
    color: $color-warning;
}

.r-btn.r-warning:hover {
    border: 2px solid $color-warning;
}

.r-btn.r-warning:active {
    border: 2px solid transparent;
}

.r-btn.r-big {
    padding: 18px 40px;
    border-radius: 32px;
}
.r-btn.r-circle.r-big {
    height: 64px;
    width: 64px;
}

.r-btn.r-small {
    padding: 0px 20px;
    border-radius: 16px;
    height: 32px;
}
.r-btn.r-circle.r-small {
    height: 32px;
    width: 32px;
}

.single-icon {
    display: inline-block;
    padding: 10px;
}

.r-input {
    background: rgba($color-primary, 0.25);
    height: 48px;
    color: $color-primary;
    border: none;
    border-bottom: 5px solid $color-primary;
    border-radius: 0px;
    display: inline-block;
    padding: 0 10px;
    min-width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.r-input:focus {
    outline: none;
    border: 1px solid $color-primary;
    border-bottom: 5px solid $color-primary;
}

.r-input:hover {
    background: rgba($color-primary, 0.2); 
}

.r-input::placeholder {
    color: rgba($color-primary, 0.3);
    font-weight: normal;
}

.r-input.r-error {
    background: rgba($color-warning, 0.25);
    color: $color-warning;
    border-bottom: 5px solid $color-warning;
}

.r-input.r-error::placeholder {
    color: rgba($color-warning, 0.3);
}

.r-input.r-error:focus {
    border: 1px solid $color-warning;
    border-bottom: 5px solid $color-warning;
}

.r-input.r-error:hover {
    background: rgba($color-warning, 0.2);
}

.r-warning-label {
    color: $color-warning;
    font-size: 0.8em;
    padding-left: 10px;
}

.r-textarea {
    min-width: 100%;
    background: rgba($color-primary, 0.25);
    color: $color-primary;
    font-weight: bold;
    border: 1px solid transparent;
    margin: 5px;
    padding: 10px;
}

.r-textarea::placeholder {
    font-weight: normal;
    color: rgba($color-primary, 0.3);
}

.r-textarea:hover {
    background: rgba($color-primary, 0.2);
}

.r-textarea:focus {
    outline: none;
    border: 1px solid $color-primary;
}

.r-select {
    background: rgba($color-primary, 0.25);
    padding: 0px 10px;
    margin: 0px 5px;
    height: 48px;
    border: 1px solid transparent;
    color: $color-primary;
    min-width: 100%;
}

.r-select option {
    background-color: $color-background;
}

.r-select:focus {
    outline: none;
}
